docker-conf/certs/*
!docker-conf/certs/.dummy
lib
testapp/var/config/installer.ini.php
testapp/var/config/installer.bak.ini.php
temp/*
!temp/.dummy
testapp/var/log/*
!testapp/var/log/.dummy
testapp/var/mails/*
!testapp/var/mails/.dummy
testapp/var/db/*
!testapp/var/db/.dummy
testapp/var/config/profiles.ini.php
testapp/var/config/localconfig.ini.php
testapp/var/config/liveconfig.ini.php
testapp/vendor/*
testapp/composer.lock
unittests/vendor/*
unittests/composer.lock
unittests/.phpunit.result.cache
