<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://jelix.org/ns/events/1.0">
    <listener name="multiauth">
        <event name="jauthdbAdminGetViewInfo" />
        <event name="jauthdbAdminPrepareCreate" />
        <event name="jauthdbAdminEditCreate" />
        <event name="jauthdbAdminBeforeCheckCreateForm" />
        <event name="jauthdbAdminCheckCreateForm" />
        <event name="jauthdbAdminPrepareUpdate" />
        <event name="jauthdbAdminEditUpdate" />
        <event name="jauthdbAdminBeforeCheckUpdateForm" />
        <event name="jauthdbAdminCheckUpdateForm" />
    </listener>
</events>